.form-section .contact-us-btn {
  background-color: #4f838b;
  font-size: 1.5rem;
}

.form-section .contact-us-btn {
  background-color: #4f838b;
  font-size: 1.5rem;
  border-color: #4f838b;
}

.container .contact-us-title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.container .contact-us-btn:hover,
html .container .contact-us-btn:active {
  background-color: #4f838b;
  border-color: #4f838b;
  border-radius: 50px;
}

@media (min-width: 769px) {
  .container .contact-us-title {
    text-align: left;
    font-size: 2rem;
  }
}
