.benefits-title {
  font-weight: bold;
  font-size: 2rem;
}

body .benefit-sections {
  margin-top: 3rem;
}

.benefit-sections p {
  text-align: center;
}

.aligner-img,
.reminders-img,
.benefits-img {
  margin-bottom: 2.5rem;
}

@media (min-width: 768px) {
  .benefits-title {
    font-size: 2rem;
  }
  .benefit-sections h3 {
    font-size: 1.5rem;
  }

  .benefit-sections p {
    text-align: left;
  }
}
