body {
  margin: 0;
  font-family: "Encode Sans Expanded", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Custom CSS file */

/* Ensure this comes after the Bootstrap CSS import */
@media (min-width: 1400px) {
  .container {
    max-width: 1600px;
  }
}
