.calendar-tile {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aligner-completed {
  background-color: #90ee90;
}

.aligner-current {
  background-color: orange;
}

.aligner-upcoming {
  background-color: red;
}

.aligner-next-switch {
  background-color: blue;
}

.react-calendar {
  margin-top: 5rem;
  width: 100%;
  border: 1px solid black;
  height: 500px;
  background-color: #fcfcfc;
}
.calendar-legend {
  margin-top: 1rem;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.legend-color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 0.5rem;
}

@media (min-width: 768px) {
  .calendar-legend {
    margin-top: 2rem;
  }
}
