.calendar-tile {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aligner-completed {
  background-color: #90ee90; /* Light green for completed weeks */
}

.aligner-current {
  background-color: orange; /* Orange for the current week */
}

.aligner-upcoming {
  background-color: red; /* Red for upcoming weeks */
}

.aligner-next-switch {
  background-color: blue; /* Blue for the next aligner date change */
}

.react-calendar {
  margin-top: 5rem;
  width: 100%;
  border: 1px solid black;
  height: 500px;
}
