.help-tabs .nav-item button {
  color: #565756;
}

.general-section h3,
.general-section p,
.cleaning-section h3,
.cleaning-section p,
.do-dont-section h3 {
  margin-bottom: 1.5rem;
}

.general-section ul li,
.do-dont-section ul li {
  margin-bottom: 1rem;
}

.faq-section .accordion-button:not(.collapsed) .accordion-body {
  background-color: #83c5dc;
}

.help-main-content {
  min-height: 100vh;
}

.general-section h3,
.cleaning-section h3,
.do-dont-section h3,
.faq-section h3 {
  font-weight: bold;
}

.nav-tabs .nav-item .nav-link.active {
  font-weight: bold;
}

.cleaning-section h4 {
  font-weight: bold;
}
