.login-container {
  min-height: 100vh;
}

.login-form-wrapper {
  padding: 1rem;
  background-color: #effafd;
}

.mx-auto h2 {
  font-size: 3rem;
}

div .input-styles {
  padding: 2rem;
  font-size: 2rem;
}

div .btn-style {
  background-color: #4f838b;
  border-color: #4f838b;
}

div .btn-style:hover,
div .gap-2 .btn-style:active {
  background-color: #4f838b;
  border-color: #4f838b;
}
.sign-in {
  font-size: 2rem;
  text-decoration: none;
}
.sign-in a {
  font-weight: bold;
  color: #83c5dc;
}
@media (min-width: 768px) {
  .login-form-wrapper {
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .w-100 .mx-auto h2 {
    font-size: 2rem;
  }
  div .input-styles {
    padding: 1rem;
    font-size: 1rem;
  }

  .btn-style {
    min-width: 300px;
    margin: 0 auto;
  }

  .sign-in {
    font-size: 1.25rem;
  }

  .aligners-image-login {
    max-width: 600px;
    max-height: 500px;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
}
