.hero-section {
  display: flex; /* Establish flex container */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  min-height: 100vh; /* Full height of the viewport */
  text-align: left; /* Align text to the left */
  background-image: url("hero.png");
}

.hero-title {
  font-weight: bold;
  margin-bottom: 3rem;
  font-size: 5rem;
}

.hero-section .get-started-btn {
  background-color: #83c5dc;
  font-size: 1.5rem;
  border-color: #83c5dc;
}

.hero-section .get-started-btn:hover {
  background-color: black;
  font-size: 1.5rem;
  border-color: black;
}

.hero-section .hero-title-and-btn {
  margin-bottom: 15rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (max-width: 768px) {
  .hero-section {
    background-image: url("hero_mobile.png");
    background-size: contain;
    padding-top: 13rem;
    text-align: center;
    align-items: flex-start;
    background-color: #ebf7ff;
  }
}

/* have to do styling for viewports larger than 768px */
