/* Default mobile styles */
.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  color: white;
  min-height: 50vh;
  text-align: center;
  background-image: url("hero_mobile.png");
  align-items: flex-start;
  background-color: #effafd;
}

.hero-title {
  font-weight: bold;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 3rem;
}

.hero-section .get-started-btn {
  background-color: #83c5dc;
  font-size: 1.5rem;
  border-color: #83c5dc;
}

.hero-section .get-started-btn:hover {
  background-color: black;
  border-color: black;
}

.hero-section .hero-title-and-btn {
  margin-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (max-width: 767px) {
  .hero-section {
    max-width: 100% !important;
  }
}

@media (min-width: 768px) {
  .hero-section {
    text-align: left;
    background-size: contain;
    background-image: url("hero.png");
    align-items: center;
    flex-direction: column;
  }

  .hero-title {
    font-size: 2.5rem;
  }

  .hero-section .hero-title-and-btn {
    margin-bottom: 15rem;
  }
}
