.dashboard-container {
  display: flex;
  padding: 0 !important;
}

.sidebar {
  background-color: #217380;
  height: 100vh;
  list-style: none;
  color: white;
}

.main-content {
  margin-top: 2rem;
}

.treatment-info {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  margin-left: 1rem !important;
}

.aligner-calendar {
}

.react-calendar {
  height: 100%;
  max-width: 100%;
}

.sidebar a {
  color: white;
  text-decoration: none;
}

.sidebar a:hover {
  text-decoration: underline;
}

/* Nabar styles */
.nav-bg-custom {
  background-color: #217380;
}

.nav-bg-custom .navbar-brand,
.nav-bg-custom .navbar-collapse .navbar-nav a {
  color: white;
}

@media (max-width: 768px) {
  .treatment-info,
  .aligner-calendar {
    margin-left: 0;
    margin-right: 0;
  }

  .main-content .treatment-info h1 {
    font-size: 4rem;
  }

  .main-content .treatment-info span {
    font-size: 1.5rem;
  }

  .treatment-remaining-card,
  .next-aligner-card,
  .smile-eta-card {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2rem;
  }
}
