/* Sidebar styles */
.sidebar {
  background-color: #217380;
}
.sidebar ul {
  list-style: none;
  font-size: 1.25rem;
}

.sidebar a {
  color: white;
  text-decoration: none;
  padding-bottom: 1rem;
}

.sidebar a:hover {
  text-decoration: underline;
}

/* Nabar styles */
nav.nav-bg-custom {
  background-color: #217380;
  padding-left: 1rem;
}

.nav-bg-custom .navbar-brand,
.nav-bg-custom .navbar-collapse .navbar-nav a {
  color: white;
}
.navbar-nav a:hover {
  text-decoration: underline;
}

/* Dashboard content styles */

.dashboard-container {
  display: flex;
}

.main-content {
  margin-top: 1rem;
}

.main-content .treatment-info h1 {
  font-size: 4rem;
}

.main-content .treatment-info span {
  font-size: 1.5rem;
}

.treatment-remaining-card,
.next-aligner-card,
.smile-eta-card {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2rem;
}

@media (min-width: 768px) {
  .dashboard-container {
    padding: 0 !important;
    flex-wrap: nowrap;
  }

  .sidebar {
    padding-top: 1rem;
  }
  .sidebar .dashboard-name {
    font-size: 1.5rem;
    padding-left: 2rem;
    color: white;
    font-weight: bold;
  }
  .main-content .treatment-info,
  .main-content .aligner-calendar {
    margin-left: 2rem;
  }
}
